* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 5px solid #000;
    width: 800px;
    margin: 50px auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.article {
    position: relative;
}

.sale {
    background-color: orangered;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
    letter-spacing: 2px;
    top: -15px;
    left: -30px;
    padding: 5px 10px;
}

.challenge-image {
    width: 225px;
}

.product-price {
    font-weight: bold;
    display: inline-block;
    margin-right: 40px;
    font-size: 30px;
}

.product-shipping {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product-description {
    margin-bottom: 15px;
}

.more-information {
    margin-bottom: 15px;
}

.more-information a {
    color: #000;
    display: inline-block;
    margin-bottom: 20px;
}

.more-information a:hover {
    text-decoration: none;
}

.colors {
    display: inline-flex;
    gap: 18px;
}

.color-one, .color-two, .color-three, .color-four, .color-five, .color-six {
    height: 18px;
    width: 18px;
}

.color-one {
    background-color: #ff0000;
}

.color-two {
    background-color: #ffa500;
}

.color-three {
    background-color: #ffff00;
}

.color-four {
    background-color: #00ff00;
}

.color-five {
    background-color: #0000ff;
}

.color-six {
    background-color: #800080;
}

.product-name {
    text-transform: uppercase;
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
}

.product-details {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.unordered-list {
    margin-left: 20px;
}

.unordered-list li {
    margin-bottom: 10px;
}

.button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 15px;
    border-top: 4px solid black;
}

.button:hover {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-top: 4px solid black;
}

.image-container {
    margin-right: -40px;
    width: 225px;
    height: 225px;
}

.content-left {
    flex-basis: 220px;
}

.content-right {
    flex-basis: 220px;
}